$body-bg: #222e53;
$wrapper-bg: linear-gradient(180deg, #1d2535 0%, rgba(33, 25, 56, 0.2) 100%);
$item-bg: #2b2450;
$default: #f1f1f1;
$descr-text: rgba(245, 245, 245, 0.5);
$input-bg: #3b2d66;
$input-border: rgba(255, 88, 95, 0.35);
$button-bg: linear-gradient(97.46deg, #ff585f 3.28%, #fa5897 95.35%);
$button-bg-hover: linear-gradient(97.46deg, #c03949 3.28%, #b33263 95.35%);
$icon-bg-down: #fc5782;
$icon-bg-up: #1fc4af;
$currency-border: #fa5897;
$currency-bg: #879fff;
